*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

:root{
    --primary_blue: #1C2362;
    --secondary_blue: #00A4EA;
    --main_green: #009D3D;
    --soft_green: #27b15c;
    --soft-blue: #4f5bc7;
    --soft-skyblue:#85c3db;
}

body{
    background-color: #eaebf3;
}

.menu_container,.navbar-mobile{
    display: none;
}

.navbar-desktop{
    position: fixed;
    top:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 84px;
    background-color: #101546;
    padding: 1rem 1.5rem;
    font-size: 14px;
}



.left-side{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left-links-container-caes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 .5rem;
    width: 7rem;
    height: 50px;
    text-align: center;
    background-color: #4f5bc7;
    border-radius: 10px;
    transition: 0.2s all;
}

.left-links-container-roosevelt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 .5rem;
    width: 7rem;
    height: 50px;
    text-align: center;
    background-color: #009D3D;
    border-radius: 10px;
    transition: 0.2s all;
}

.left-links-container-homeschool{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 .5rem;
    width: 7rem;
    height: 50px;
    text-align: center;
    background-color: #29A5DF;
    border-radius: 10px;
    transition: 0.2s all;
}
.left-links-container-homeschool:hover{
    opacity: .8;
    width: 8rem;
    cursor: pointer;
}
.left-links-container-caes:hover{
    opacity: .8;
    width: 8rem;
    cursor: pointer;
}
.left-links-container-roosevelt:hover{
    opacity: .8;
    width: 8rem;
    cursor: pointer;
}

.caes-link,.roosevelt-link,.homeschool-link{
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-weight: bold;
}

.right-side{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.right-links-container{
    margin: 0 .8rem;
}

.links-desktop{
    color: white;
    font-weight: bold;
    transition: 0.2s all;
}

.links-desktop:hover{
    color: #F8C300;
    font-weight: bold;
    font-size: 16px;
}

.right-links-container svg{
    margin-right: .2rem;
}


.logo-desktop-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    background-repeat: no-repeat;
}

.logo-desktop-container img{
    width: 65px;
    transition: 0.2s all;
}

.logo-desktop-container img:hover{
    width: 75px;
    cursor: pointer;
    
}



.mi-colegio-desktop{
    padding: 1rem;
    background-color: #F8C300;
    color: #101546;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 1.5rem;
    transition: 0.2s all;
}

.mi-colegio-desktop:hover{
    padding: 1.2rem;
    background-color: #f5f0de;
}




@media (max-width: 1200px){

.navbar-desktop{
    display: none;
}

.hamburger{
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background:none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger::after, .hamburger::before{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0px;
    transition: 0.4s;

}

.hamburger.is-active::before{
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active .bar{
    opacity: 0;
}

.hamburger.is-active::after{
    transform: rotate(45deg) translate(-9px, -8px);
}

.navbar-mobile{
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary_blue);
    padding: 2rem;
    border-bottom: solid 2px #101546;
    z-index: 1;
}

.hamburguer_icon{
    color: white;
    width: 24px;
    height: 24px;
}

.logo_container{
    background-image: url("../img/mao_logo_main.svg");
    width: 80px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    margin:  auto;
    cursor: pointer;
    transition: 0.2s all;
    z-index: 2;
    
}

.logo_container:hover{
   width: 100px;
   height: 100px;
}

.sedes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0 2rem 0;
    background-color: var(--primary_blue);
}


.sede_container_caes{
    width: 80vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3845BB;
    color: white;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    
}

.sede_container_caes:hover{
    opacity: .8;
}


.sede_container_roosevelt{
    width: 80vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--main_green);
    color: white;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    
}

.sede_container_roosevelt:hover{
    opacity: .8;
}

.sede_container_homeschool{
    width: 80vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--secondary_blue);
    color: white;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    
}

.sede_container_homeschool:hover{
    opacity: .8;
}

div.sede_logo_caes{
    background-image: url("../img/mao_logo_caes.png");
    width: 108px;
    height: 55px;
    background-repeat: no-repeat;
    background-size: cover;
}

.sede_nombre{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    padding-right: 5px;
}

.menu_container{
    display: block;
    min-height: 100vh;
    min-width: 100vw;
    position: fixed;
    right: 0;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: var(--primary_blue);
    transition: 0.4s;
    padding-top: 3rem;
}

.menu_container.is-active{
    min-height: 100vh;
    right:100%;
    z-index: 0;
    
}

.menu_container .mi_colegio{
    text-decoration: none;
    background-color: rgb(255, 196, 0);
    color: var(--primary_blue);
    padding: 12px 18px;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 2rem;
}

.menu_container .mi_colegio:hover{

    background-color: white;
    color: var(--primary_blue);
}

.menu_container .mi_colegio svg{
    margin-right: 10px;
}

.menu_container .mi_colegio_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.menu_container .menu_links{
    display: block;
    font-weight: bold;
    color: white;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 0;
    padding-left: 30%;
}

.menu_container .menu_links svg{
    margin-right: 10px;
}

.menu_container .menu_links:hover{
    background-color: white;
    color: #101546;
}

}
